{% load blog_tags %}{% load static %}<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% block title %}{% endblock %}</title>

    <link rel="stylesheet" href="{% static 'css/blog.css' %}">
</head>
<body>
    <header></header>
    <article>
        <div id="content">
            {% block content %}{% endblock %}
        </div>
    </article>
    <article>
        <div id="sidebar">
            <h2>My blog</h2>
            <p>
                This is my blog. I've written {% total_posts %} posts so far.
            </p>
            <p>
                <a href="{% url 'blog:post_feed' %}">
                    Subscribe to my RSS feed
                </a>
            </p>
            <h3>Latest posts</h3>
            {% show_latest_posts 3 %}
            <h3>Most commented posts</h3>
            {% get_most_commented_posts as most_commentd_posts %}
            <ul>
                {% for post in most_commentd_posts %}
                <li>
                    <a href="{{ post.get_absolute_url }}">
                        {{ post.title }}
                    </a>
                </li>
                {% endfor %}
            </ul>
        </div>
    </article>
</body>
</html>