{% extends "blog/base.html" %}

{% block title %}Share a post{% endblock %}

{% block content %}
{% if sent %}
<h1>E-mail succesfully sent</h1>
<p>"{{ post.title }}" was successfully sent to {{ form.cleaned_data.addressee_email }}</p>
{% else %}
<h1>Share "{{ post.title }}" by e-mail</h1>
<form action="." method="post">
    {% csrf_token %}
    {{ form.as_p }}
    <input type="submit" value="Send e-mail">
</form>
{% endif %}
{% endblock %}
