{% extends "blog/base.html" %}
{% load blog_tags %}

{% block title %}My blog{% endblock %}

{% block content %}
<h1>My blog</h1>
{% for post in posts %}
<h2>
    <a href="{{ post.get_absolute_url }}">{{ post.title }}</a>
</h2>
{% if tag %}
<h2>Posts tagged with "{{ tag.name }}"</h2>
{% endif %}
<p class="tags">
    Tags:
    {% for tag in post.tags.all %}
    <a href="{% url 'blog:post_list_by_tag' tag.slug %}">
        {{ tag.name }}
    </a>
    {% if not forloop.last %}, {% endif %}
    {% empty %}
    -
    {% endfor %}
    {# Tags: {{ post.tags.all|join:", " }} #}
</p>
<p class="date">
    Published {{ post.publish }} by {{ post.author }}
</p>
{# {{ post.body|truncatewords:30|linebreaks }} #}
{{ post.body|markdown|truncatewords_html:30 }}
{% empty %}
No post yet.
{% endfor %}

{% include "pagination.html" with page=posts %}
{# {% include "pagination.html" with page=page_obj %} #}
{% endblock %}
